/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
yarn.lock
package-lock.json
bun.lockb

/coverage

/.next/
/out/

/build

.DS_Store
*.pem

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env*

.vercel

*.tsbuildinfo
next-env.d.ts

/public/sw.js
/public/sw.js.map
/public/workbox-*.js
/public/workbox-*.js.map
