.git
.github

.turbo
node_modules
**/node_modules

target
target-*
apps/web/.next
apps/web/out
**/.next
**/.turbo
apps/android
apps/windows
artifacts

docs
scripts
tests

**/bin
**/obj
**/__pycache__

.env
*.log
*.db
